.about {
  min-height: 100vh;

}

#sixth-cont{
clip-path: polygon(66% 0%, 100% 0% , 100% 33%, 66% 66%);
background-color: #145a54;
}

#seventh-cont{
clip-path: polygon(33% 0%, 66% 0% , 66% 66%, 33% 33%);
background-color: #02405a;
}
#eighth{
  clip-path: polygon( 0% 0% , 33% 33% , 33% 100%, 0% 67%);
  background-color: #145a54;
}

.about_photo {
  width: 20vh;
  height: 20vh;
  clip-path: polygon(25% 0, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%);
  position: absolute;
  top: 175vh;
  right: 5vw;
}

.about-title{
  position: absolute;
  height: 66vh;
  width: 66vh;
  top: 133vh;
  right: 66vw;
  font-size: 8vmin;
  transform: rotate(-90deg);
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.about-body{
    position: absolute;
    width: 60vw;
    top: 166vh;
    left: 33vw;
    font-size: 17px;
    padding: 3vw;
    padding-right: 10vw;
    margin: 0 !important;
}
