.about {
  min-height: 100vh;

}

#eighth{
  clip-path: polygon( 0% 10% , 33% 43% , 33% 90%, 0% 57%);
  background-color: #145a54;
}

.about-title{
  position: absolute;
  height: 46vh;
  width: 46vh;
  top: 143vh;
  right: 64vw;
  font-size: 7vmin;
  transform: rotate(-90deg);
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.about-body{
    position: absolute;
    width: 60vw;
    height: 66vh;
    top: 100vh;
    left: 35vw;
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

