.App {
  text-align: center;
  overflow: hidden;
}

.flex{
  display: flex;
}

.flex-direction-column{
  flex-direction: column
}
.flex-wrap{
  flex-wrap: wrap;
}

.flex-cross-center{
  align-items: center
}

.flex-main-space-around{
  justify-content: space-around;
}

.dark-theme{
  background-color: black;
  color: white;
}
.light-theme {
  background-color: white;
  color: black;
}
.default-padding{
  padding: 5vw;
}
