.App {
  text-align: center;
  overflow: hidden;
font-family: 'Share Tech Mono', monospace;
  background-color: #fff;
}
html,
body {

  margin: 0px 0px 0px 0% ;
  padding: 0
}

html {
  overflow-x: hidden;
}
.flex{
  display: flex;
}

.flex-direction-column{
  flex-direction: column
}
.flex-wrap{
  flex-wrap: wrap;
}

.flex-cross-center{
  align-items: center
}

.flex-main-space-around{
  justify-content: space-around;
}

p{
font-family: 'Raleway',
sans-serif;
}