
Header{
  height: 100vh;
  position: relative;
  background: white;
  color: rgb(92, 136, 172)
}

.contain{
  position: absolute;
  left: 0;
  top: 0;
  height: 66vh;
  width: 66vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header-title{
  font-size: 4vmin;
  z-index: 1;
}

.profile-img-container{
  position: absolute;
  left: 33vw;
  top:34vh;
  width: 67vw;
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center
}
.profile{
  z-index: 1;
  width: 150px;
  height: 150px;
  max-width: 40vw;
  max-height: 40vw;
  border-radius: 50%;
  border: 1vh solid white;
}
.poligone{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0vh;
  bottom: 0vh;
}

.first{
clip-path: polygon(0% 80%,  100% 60%, 100% 80%, 0% 100%);
}
.second{
clip-path: polygon(0% 79%,  100% 59%, 0% 0%);
background-color: #002249;
}