
Header{
  height: 100vh;
  position: relative;
  background: white;
  color: rgb(92, 136, 172)
}

.contain{
  position: absolute;
  left: 0;
  top: 0;
  height: 66vh;
  width: 66vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header-title{
  font-size: 4vmin;
  z-index: 1;
}

.profile-img-container{
  position: absolute;
  left: 33vw;
  top:34vh;
  width: 67vw;
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center
}
.profile{
  z-index: 1;
  width: 150px;
  height: 150px;
  max-width: 30vw;
  max-height: 30vw;
  border-radius: 50%;
  border: 1vh solid white;
}
.poligone{
  position: absolute;
  width: 100vw;
  height: 100vh;

}

header .poligone{
    left: 0vh;
  top: 0vh;
}

#first{
clip-path: polygon(  66% 100%, 100% 66%, 100% 0%,  66% 0%, 33% 0%, 33% 66%);
}

#second{
clip-path: polygon(0% 33%, 33% 66% , 66% 33%,  33% 0%);
background-color: #002249;
}
#fourth{
clip-path: polygon(33% 0% , 100% 0% , 100% 67%);
background-color: #fff;
}

#sixth{
clip-path: polygon(100% 66%, 100% 100% , 66% 100%);
background-color: #145a54;
}

#seventh{
clip-path: polygon(33% 66%, 66% 100% , 33% 100%);
background-color: #02405a;
}

#eighth{
clip-path: polygon( 0% 33% , 33% 66% , 33% 100%, 0% 66%);
background-color: #c2e8f6;
}
